/* PC */
@media (min-width: 1024px) {
	#nav li:hover .sub_nav {
		display: block;
	}
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
	/* Modal Buy Ticket */
	.modal .modal-container {
		width: 95%;
	}

	#nav .sub_nav {
		background-color: #333;
	}

	#nav .sub_nav a {
		color: #fff;
		padding: 5px 16px;
	}

	#nav .show_sub_menu {
		display: block;
	}

	#content .place-body .place-buy-btn {
		padding: 15px 16px;
	}

	.contact-form .contact-input .form-control {
		padding: 15px;
	}

	#content .contact-info {
		line-height: 2;
	}

	#footer .socials-list a {
		font-size: 48px;
		margin: 0 8px;
	}

	#footer .copyright a {
		padding: 12px 0;
		display: inline-block;
	}
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
	/* Header */
	#header {
		overflow: hidden;
	}

	#nav > li,
	#header > #nav {
		display: block;
	}

	#header .search-btn {
		display: none;
	}

	#header .mobile-menu-btn {
		display: block;
	}

	#header.show-menu-mobile {
		height: auto;
	}

	/* Navigation & Sub Menu */
	#nav > li:first-child {
		display: inline-block;
	}

	#nav .sub_nav {
		position: initial;
	}

	#nav .sub_nav a {
		padding: 5px 41px;
	}

	/* Content -- Memeber List (Team) */
	#content .members-list {
		flex-flow: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

	#content .members-list > div {
		width: 100%;
	}

	#content .member-avatar {
		margin-bottom: 16px;
		width: 63%;
	}

	/* Tour Section */
	#content .places-list {
		flex-flow: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		padding: 32px 0;
	}

	#content .places-list > div {
		width: 100%;
		margin-bottom: 16px;
	}

	#content .place-body .place-buy-btn {
		width: 100%;
		text-align: center;
	}

	/* Contact Section */
	#content .contact-content {
		flex-flow: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		padding: 32px 0;
	}

	.contact-content > div {
		width: 100%;
	}

	.contact-content > div:first-child {
		margin-bottom: 32px;
	}

	.contact-content .contact-row {
		flex-flow: column;
		gap: 8px;
		width: 100%;
	}

	.contact-content .contact-row > div {
		width: 100%;
	}

	.contact-content .contact-input {
		padding: 0;
	}

	.contact-form .form-control {
		font-size: 14px;
	}

	.contact-form .contact-submit {
		font-size: 15px;
		width: 100%;
	}

	#footer .socials-list a {
		font-size: 48px;
		margin: 0;
	}
}
