/* Reset CSS */
:root {
	--hover-background-color: #ccc;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: Helvetica, Arial, sans-serif;
}

/* Common */
.text-center {
	text-align: center !important;
}

.row {
	margin: 0 -16px;
	display: flex;
}

.column {
	padding: 0 8px;
}

.column-full {
	width: 100%;
}

.column-third {
	width: calc(100% / 3);
}

.column-half {
	width: calc(100% / 2);
}

.text-white {
	color: #fff !important;
}

a {
	text-decoration: none;
}

/*  
    1. Từ ngoài vào trong.
    2. Từ trên xuống dưới.
    3. Từ tổng quan đến chi tiết.
*/

/*  
    1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

/* ===================> Header & Navigation <=================== */
#header {
	height: 46px;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	display: inline-block;
}

#nav,
.sub_nav {
	list-style: none;
}

#nav > li {
	display: inline-block;
	position: relative;
}

#nav > li > a {
	color: #fff;
	text-transform: uppercase;
}

#nav li a {
	display: block;
	text-decoration: none;
	line-height: 46px;
	padding: 0 24px;
}

#nav li:hover > a {
	color: #000;
	background-color: var(--hover-background-color);
}

#nav .nav-arrow-down {
	font-size: 14px;
}

#nav .sub_nav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	min-width: 160px;
}

#nav .sub_nav a {
	color: #000;
	padding: 0 12px;
	line-height: 38px;
}

#nav li:hover .sub_nav {
	display: block;
}

#header .search-btn {
	float: right;
	padding: 0 21px;
}

#header .search-btn:hover {
	cursor: pointer;
	background-color: #f44336;
}

#header .search-icon {
	color: #fff;
	font-size: 20px;
	line-height: 46px;
}

/* ===================> Slider <=================== */
#slider {
	margin-top: 46px;
	padding-top: 50%;
	background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
	position: relative;
}

#slider .text-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 32px 16px;
	text-align: center;
	font-size: 15px;
}

#slider .text-heading {
	font-weight: 500;
	font-size: 24px;
	margin: 10px 0 25px;
}

#slider .text-description {
	margin: 0 0 15px;
}

/* ===================> About <=================== */
#content .content-section {
	width: 800px;
	margin: 0 auto;
	padding: 64px 16px;
}

#content .section-heading {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 4px;
	margin: 10px 0 25px;
	text-transform: uppercase;
}

#content .section-subheading {
	font-size: 15px;
	font-style: italic;
	text-align: center;
	margin-bottom: 25px;
	opacity: 0.6;
}

#content .about-content {
	margin-bottom: 15px;
	text-align: justify;
	line-height: 1.6;
}

#content .members-list {
	padding: 32px 0;
	display: flex;
	justify-content: space-around;
}

#content .member-name {
	margin: 15px 0;
	font-size: 15px;
}

#content .member-avatar {
	width: 154px;
	border-radius: 4px;
}

/* ===================> Tour <=================== */
#content .tour-section {
	background-color: #000;
}

#content .section-subheading {
	margin-bottom: 15px;
}

#content .tickets-list {
	background-color: #fff;
}

#content .ticket-item {
	padding: 11px 16px;
	list-style: none;
	color: #757575;
	font-size: 15px;
	border-bottom: 0.8px solid #ddd;
}

#content .sold-out {
	margin-left: 16px;
	padding: 4px 8px;
	color: #fff;
	background-color: #f44336;
}

#content .quantity {
	height: 24px;
	width: 24px;
	line-height: 24px;
	margin-right: 16px;
	padding: 0 8px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	float: right;
	margin-top: -3px;
}

#content .places-list {
	padding: 32px 8px;
	display: flex;
	margin-bottom: 16px;
}

#content .column-third .place-img {
	width: 100%;
	display: block;
}

#content .column-third .place-img:hover {
	opacity: 0.7;
}

#content .column-third .place-body {
	padding: 0.15px 16px;
	background-color: #fff;
}

#content .place-body .place-heading {
	margin: 15px 0;
	font-size: 15px;
}

#content .place-body .place-time {
	font-size: 15px;
	opacity: 0.6;
	margin-bottom: 15px;
}

#content .place-body .place-desc {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 15px;
}

#content .place-body .place-buy-btn {
	display: inline-block;
	margin-bottom: 16px;
	padding: 11px 16px;
	color: #fff;
	background-color: #000;
	font-size: 15px;
	cursor: pointer;
}

#content .place-body .place-buy-btn:hover {
	background-color: var(--hover-background-color);
	color: #000;
}

/* ===================> Modal Buy Ticket <=================== */
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
	display: none;
}

.modal .modal-container {
	background-color: #fff;
	position: relative;
	width: 900px;
	min-height: 200px;
	animation: showModal 0.5s;
}

.modal .modal-close {
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	padding: 8px 16px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	cursor: pointer;
}

.modal .modal-close:hover {
	color: #000;
	background-color: var(--hover-background-color);
}

.modal .modal-header {
	padding: 42px 16px;
	font-size: 30px;
	text-align: center;
	letter-spacing: 4px;
	background-color: #009688;
	color: #fff;
}

.modal .modal-body {
	padding: 0.15px 16px;
	font-size: 15px;
}

.modal .modal-label {
	display: flex;
	gap: 5px;
	margin: 15px 0;
}

.modal .modal-input {
	padding: 8px;
	width: 100%;
}

.modal #buy-tickets {
	margin: 16px 0;
	padding: 16px;
	width: 100%;
	font-size: 15px;
	border: none;
	background-color: #009688;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.modal #buy-tickets:hover {
	color: #000;
	background-color: #ccc;
}

.modal .modal-footer {
	padding: 16px;
	text-align: right;
}

.modal .modal-help {
	margin: 15px 0;
	display: inline-block;
}

.modal .modal-help a {
	text-decoration: underline;
	font-size: 15px;
}

/* ===================> Contact <=================== */
#content .contact-content {
	padding: 32px 16px;
}

#content .contact-info {
	font-size: 18px;
	line-height: 1.6;
	padding: 0;
}

#content .contact-info i[class*="ti-"] {
	width: 30px;
	display: inline-block;
}

.contact-form {
	font-size: 15px;
	padding: 0;
}

.contact-form .contact-row {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 8px;
}

.contact-form .contact-input .form-control {
	padding: 9px;
	border-width: 0.8px;
	width: 100%;
}

.contact-form .contact-submit {
	font-size: 15px;
	padding: 11px 16px;
	border: none;
	background-color: #000;
	color: #fff;
	margin: 8px 0 16px;
	float: right;
	cursor: pointer;
}

.contact-form .contact-submit:hover {
	background-color: #ccc;
	color: #000;
}
#footer {
}

@keyframes showModal {
	from {
		transform: translateY(-70%);
		opacity: 0;
	}
}
